<footer id="footer" class="text-white d-flex-column text-center footer">
  <div class = "footer-image">
    <%= image_tag "footer-background.png", class: "footer-banner" %>
  </div>
  <hr class="mt-0">
  <%= image_tag "logo.png", class: "footer-logo" %>
  <div class=" text-center copyright">Ⓒ 2023 HealthPocket. All Rights Reserved.
  </div>
</footer>
