<div class = "footer-image">
  <%= image_tag "footer-background.png", class: "footer-banner" %>
</div>
<div class = footer>
  <div class="container-md">
    <div class="row">
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li>
            <span class="footer-title">Product</span>
          </li>
          <li>
            Product 1
          </li>
          <li>
            Product 2
          </li>
          <li>
            Plans & Prices
          </li>
          <li class="nav-item">
          Frequently asked questions
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="flex-column">
          <li>
            <span class="footer-title">Company</span>
          </li>
          <li >
            About us
          </li>
          <li >
            Job postings
          </li>
          <li>
            News and articles
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class=" flex-column">
          <li>
            <span class="footer-title">Contact & Support</span>
          </li>
          <li >
            <span><i class="fas fa-phone"></i>+47 45 80 80 80</span>
          </li>
          <li>
            <i class="fas fa-comments"></i>Live chat
          </li>
          <li>
            <i class="fas fa-envelope"></i>Contact us
          </li>
          <li>
            <i class="fas fa-star"></i>Give feedback
          </li>
        </ul>
      </div>
    </div>

  <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright Baby Loop 2023. All Rights Reserved.
        </span>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            Privacy Policy
          </li>
          <li class="list-inline-item">
            Terms of Use
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
