<div class="banner">
  <%= image_tag "banner_babyloop.png", class: "banner" %>
  <h1 class = "banner-h1">Rent With Us</h1>
    <p>Baby Gear and More</p>
  <a href="#" class = "banner-button">RENT NOW</a>
</div>

<div class = "our-products">
  <h1>Our Products</h1>
    <p>We deliver boxes of fantastic, clothes, furniture items and toys hand picked by you!</p>
</div>

<div class = "rent-now-midsection">
  <h1 class = "mid-section-title">RENT NOW!</h1>
</div>
