// .banner img{
//   height: 600px;
//   width: 100%;
// }

.banner {
  filter: brightness(80%);
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  display: flex;
  // background-position: 0px 60px;
  justify-content: center;
  align-items: center;

}

.banner h1, .banner p {
  color: #6667AA;
  position: absolute;
  left: 50px;
  font-family: 'Jost', sans-serif;
  top: 40%;
  text-shadow: 1px 1px #ffffff;
}

.banner p{
  color: black;
  position: absolute;
  top: 50%;
  left: 50px;
}

  .banner-button, .a {
  padding: 15px 25px;
  border-radius: 50px;
  background: #6667AA;
  color: white;
  font-weight: bold;
  font-size:16px;
  position: absolute;
  top: 65%;
  left: 50px;
    }

  .banner-button:hover{
    background:#7172ad;
  }

  .banner-button{
    vertical-align: top;
  }

  @media only screen and (max-width: 600px) {
    .banner {
      padding: 200px 0;
    }
  }
