.btn{
  padding: 15px 25px;
  border-radius: 50px;

}

.button {
  padding: 15px 25px;
  border-radius: 50px;
  background: #6667AA;
  color: white;
  font-weight: bold;
  font-size:16px;
}

  .button:hover{
    background:#7172ad;
    color: white;
  }


    .button:active, .btn:active {
      vertical-align: top;
  }



  .search-button{
  padding: 15px 25px;
  border-radius: 50px;
  background: #6667AA;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .search-button:hover{
    background:#7172ad;
    color: white;
  }

.products-button{
  padding: 15px 25px;
  border-radius: 50px;
  background: #8486f0;
  color: white;
  font-weight: bold;
  font-size:16px;
}

.products-button:hover{
  background:#8384d7;
  color: white;
}


  .mid-button{
    margin-top:250px;
    margin-right: 40px;
  }

  .view-more-button{
    margin: 30px;
  }

  .button-accept{
    padding: 15px 25px;
  background: #6eb57e;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-accept:hover{
    background: #59a96b;
  }

  .button-decline{
  padding: 15px 25px;
  background: #c34d46;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-decline:hover{
    background: #c7423b;
  }

  .button-edit{
  padding: 15px 25px;
  border-radius: 50px;
  background: #49b5c5;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-edit:hover{
  background: #31a7b9;
  }


  .logout-button-navbar{
    background:#6667AA;
    box-shadow: none;
    border: none;
  }
