.button {
  padding: 15px 20px;
  background: #6667AA;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size:16px;

    }

  .button:hover{
    background:#7172ad;
  }

  .mid-button{
    margin-top:250px;
    margin-right: 40px;
  }

  .view-more-button{
    margin: 30px;


  }
