.button {
  padding: 15px 20px;
  background: #6667AA;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size:16px;
}

  .button:hover{
    background:#7172ad;
    color: white;
  }

  .mid-button{
    margin-top:250px;
    margin-right: 40px;
  }

  .view-more-button{
    margin: 30px;
  }

  .button-accept{
    padding: 15px 20px;
  background: #6eb57e;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-accept:hover{
    background: #59a96b;
  }

  .button-decline{
  padding: 15px 20px;
  background: #c34d46;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-decline:hover{
    background: #c7423b;
  }

  .button-edit{
  padding: 15px 20px;
  background: #49b5c5;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size:16px;
  }

  .button-edit:hover{
  background: #31a7b9;
  }


  .logout-button-navbar{
    background:#6667AA;
    box-shadow: none;
    border: none;

  }
