.background {
  background-color: #6667AA;
  border: none;
  margin: 0 auto;
}

.product{
  font-size: 16px;
  text-align:center;
}

.product-text{
  font-size: 14px;
  text-align:center;
  color: #eaeaa4;
}

.card-image-top{
  object-fit: cover;
  border-radius: 10px;
}




.offers-rental-card{
  border-color: #ed8d2d;
  border-width: 2px;
  margin: 0 auto;
}

.rental-requests-card{
  border-color: #b1cddc;
  border-width: 2px;
  margin: 0 auto;
}

.offers-in-row{
  display: flex;
  flex: wrap;
}

.offers-rental-card .card-text{
  font-size: 14px;
}

.margin-li{
  margin-bottom: 10px;
  word-wrap: break-word;
}

.offer, .request{
  color: #6667AA;
  font-weight: bold;
}


.product-card{
background:#ffffff;
border-radius: 10px;
}

.product-card:hover {
border-color: #6667AA;
border-width: 3px;
}

.products-text{
  font-size: 14px;
  text-align: left;
  color: black;
}

.products-text-title{
  font-size: 20px;
  text-align: left;
  color: rgb(59, 40, 122);
  font-weight: bold;
}

.address-price {
  font-size: 14px;
  color: #808080;
}

.item-name{
  font-size: 18px;
  color: #000000;
}

.price{
  margin-left: 60px;
  font-size: 14px;
}

.home-page-product{
height: 250px;
width: 200px;
}

.lessors-card{
background: #dfd0fc;
width: 540px;
margin: 0 auto;
}

.lessors-card .card-text{
  text-align: left;
}

.cardwrapper {
  display:flex;
  flex-wrap: wrap;
}


@media only screen and (max-width: 767px) {
  .offers-rental-card {
  width: 100%;
  margin: 0 auto 1rem auto;
  }

  .offers-rental-card .bg-image {
  margin: 0 auto 1rem auto;
  margin-left: 60px;
  }

  .offers-rental-card .card-title {
  font-size: 20px;
  margin: 0.5rem auto;
  text-align: center;
  margin-right:30px;
  }

  .offers-rental-card .text-truncate {
  margin-bottom: 0;
  }

  .offers-rental-card li {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 16px;
  margin-right:30px;
  }

  .offers-rental-card .button-decline {
  margin-left: 20px;
  }

  .offers-rental-card .button-edit {
  margin-left:15px;
  }

  .product-card{
    width: 70%;
    margin: 0 auto;
  }
}
