.background {
  background-color: #6667AA;
  border: none;
  height: 150px;
  width: 150px;
}

.product{
  font-size: 16px;
  text-align:center;
}

.product-text{
  font-size: 14px;
  text-align:center;
  color: #eaeaa4;
}

.card-image-top{
  border-radius: 5px;
}

.offers-rental-card{
  background: #FAF9F3;
  width: 540px;
  margin: 0 auto;
  border-color: #37ab85;
}

.offers-rental-card .card-text{
  font-size: 14px;
}

.margin-li{
  margin-bottom: 10px;
}

.offer, .request{
  color: #6667AA;
  font-weight: bold;
}


.product-card{
background:#f5f2e1;
height: 380px;
border-color: #6667AA;
}

.products-text{
  font-size: 16px;
  text-align: center;
  color: black;
}

.home-page-product{
height: 250px;
width: 200px;
}
