.background {
  background-color: #6667AA;
  border: none;
  height: 150px;
  width: 150px;
}

.product{
  font-size: 16px;
  text-align:center;
}

.product-text{
  font-size: 14px;
  text-align:center;
  color: #eaeaa4;
}

.card-image-top{
  border-radius: 5px;
}

.offers-rental-card{
  background: #FAF9F3;
  width: 542px;
}

.offers-rental-card .card-text{
  font-size: 16px;
}

.offer, .request{
  color: #6667AA;
  font-weight: bold;
}


.product-card{
background:#e8e6d9;
height: 300px;
}

.products-text{
  font-size: 16px;
  text-align: center;
  color: black;
}
