.navbar-babyloop {
  justify-content: space-between;
  background:#6667AA;
}

.navbar-babyloop .navbar-collapse {
  flex-grow: 0;
}

.navbar-babyloop .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
