.offers-image {
  height: 300px;
  width: 300px;
}

.offers-text{
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}



.offers-title{
  color: #6667AA;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 60px;


}
