.offers-image {
  height: 250;
  width: 200;
}

.offers-text{
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
}



.offers-title{
  color: #6667AA;
  font-weight: bold;
  margin-bottom: 30px;

}

.map-padding {
  padding: 60px;
}
