.our-products{
  background:#6667AA;
  color: white;
  font-size:20px;
  padding: 80px;
  font-family:'Jost', sans-serif;

  .h1{
    font-size: 40px;
  }
}

.main-page-product {
  width:600px;
  height:500px;
  padding: 30px;
  margin-left: 50px;
}

.categories-product{
  width: 500px;
  height: 400px;
  padding: 30px;
}
