.our-products{
  background:#6667AA;
  color: white;
  font-size:20px;
  padding: 25px;
  padding-left: 80px;
  font-family:'Jost', sans-serif;
  height: auto;

  .h1{
    font-size: 25px;
  }
}

.info-card{
  background:#6667AA;
  border: none;
  margin-top: 25px;

  .title{
    text-align:center;
  }
}

.info-card-text{
  padding-left: 80px;
  padding-right:80px;
}

.svg-image{
  height: 40px;
  width: 40px;
  color:azure;
  margin: 0 auto;
}


.carousel-products{
  background:#6667AA;
  color: white;
  font-size:20px;
  padding: 35px;
  padding-left: 120px;
  font-family:'Jost', sans-serif;
  height: 350px;
}



.categories-product{
  width: 500px;
  height: 400px;
  padding: 30px;
}


.products-page-image{
  height: 200px;
  width: 200px;
  padding-top: 30px;
  margin: 0 auto;
  object-fit: contain;
  object-position: 50% 50%;
}

.products-page-title{
  color: #6667AA;
}

@media only screen and (max-width: 600px) {
  .our-products {
    height: auto;
    padding: 25px;

  .products-title{
      text-align: center;
    }
  }

  .info-card{
    height: auto;
    font-size: 16px;
    margin-top: 20px;
  }

  .info-card-text{
    padding-left: 16px;
    padding-right: 16px;
  }

  // .flex-row{
  //   display: flex;
  //   flex-direction: column;
  // }

  // .col{
  //   display: initial;
  // }

}
