  .mid-section-title {
  padding-left:70px;
  font-size: 180px;
  font-family: 'Londrina Outline', cursive;
  font-style: normal;
  font-weight: 600;
  color: #6667AA;
}

.baby-section-title{
  padding-left:30px;
  font-size: 180px;
  font-family: 'Londrina Outline', cursive;
  font-style: normal;
  font-weight: 600;
  color: #6667AA;
}
