  .mid-section-title {
  padding-left:40px;
  font-size: 180px;
  font-family: "jost";
  font-style: normal;
  font-weight: 600;
  color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #6667aa;

}
