  .mid-section-title {
  padding-left:70px;
  font-size: 180px;
  font-family: 'Londrina Outline', cursive;
  font-style: normal;
  font-weight: 600;
  color: #6667AA;
}

.baby-section-title{
  padding-left:30px;
  font-size: 180px;
  font-family: 'Londrina Outline', cursive;
  font-style: normal;
  font-weight: 600;
  color: #6667AA;
}

.main-page-product {
  width:100%;
  margin: 80px;
  margin-top: 60px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mid-button{
  margin-top:250px;
  margin-left: 80px;
}

@media only screen and (max-width: 600px) {
  .mid-section-title{
  text-align:center;
  font-size: 80px;
  padding: 0;
  }

  .main-page-product{
    width: 85%;
    margin: 30px;

  }

  .mid-button{
    margin: 0;
    text-align: center;
    padding-bottom: 40px;


  }

}
