// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html, body{
  height: 100% !important;
  width: 100% !important;
}

body{
  background:#ffffff;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1 0 auto;
}

a{
  text-decoration: none;
  color: #ffffff;
}



a:hover{
  color: #ffffff;

}

li{
  list-style-type: none;
}

h1{
  font-family:'Jost', sans-serif;
}


.form-control{
  border-color: #6667AA;
  border-radius: 20px;
}

.form-h1{
  color:#6667AA;
}
